openapi: "3.0.0"
info:
  title: Warpdrive API
  version: "1.0.0"
  description: API for managing Warpdrive sessions and authentication
servers:
  - url: https://api.warpdrive.sh
    description: Production server
  #- url: https://staging.api.warpdrive.sh - only once we actually have users
  #  description: Staging server
  - url: http://localhost:8000
    description: Local development server
security:
  - BearerAuth: []
  - ApiKeyAuth: []
paths:
  /token:
    post:
      summary: Exchange API key for JWT token
      description: Exchange an API key for a JWT token. Intended to be called initially to obtain a token for subsequent requests
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Successfully obtained JWT token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT token for authentication
                required:
                  - token
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /sessions:
    get:
      summary: List all running sessions
      description: List all running sessions for the current user
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: Maximum results to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Results offset for pagination
        - name: statuses
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of session statuses to filter by
      responses:
        "200":
          description: Successfully retrieved sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SessionDesc"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      summary: Create a new session
      description: Create a new session with specified configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                machine_id:
                  type: string
                  description: Machine config ID
                region:
                  type: string
                  description: Region config ID
                no_join:
                  type: boolean
                  description: Forbids other terminals from joining the session
                pub_key:
                  type: string
                  description: Public key for SSH access
              required:
                - machine_id
                - region
                - pub_key
      responses:
        "201":
          description: Session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /sessions/{session_id}/approve:
    post:
      summary: Approve a session for joining
      description: Approve a session for joining by adding the specified public key
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pub_key:
                  type: string
                  description: Public key to add to the session
                user:
                  type: string
                  description: VM user to create
                client_ip:
                  type: string
                  description: IP address of the client requesting approval
                joiner_uuid:
                  type: string
                  description: UUID tied to the joiner SSE subject
              required:
                - pub_key
                - user
                - client_ip
                - joiner_uuid
      responses:
        "200":
          description: Session join request approved successfully
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /sessions/{session_id}/reject:
    post:
      summary: Reject a session for joining
      description: Reject a session join request
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                joiner_uuid:
                  type: string
                  description: UUID tied to the joiner SSE subject
              required:
                - joiner_uuid
      responses:
        "200":
          description: Session join request rejected successfully
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /sessions/{session_id}/guests:
    get:
      summary: List all guests in a session
      description: List all guests in a session
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the session
      responses:
        "200":
          description: Successfully retrieved session guests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GuestDesc"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /sse/session/{session_id}/owner:
    get:
      summary: Subscribe to session owner events
      description: Subscribe to Server-Sent Events for session owner, including join requests
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the session
      responses:
        "200":
          description: Successfully subscribed to session owner events
          content:
            text/event-stream:
              schema:
                type: string
                description: Server-Sent Events stream
              examples:
                join_requested:
                  summary: Join request event
                  value: |
                    event: join_requested
                    data: {"alias": "Session Alias", "subject_uuid": "Joiner SSE Subject UUID", "region": "Joiner Region", "pub_key": "Joiner Public Key", "user": "Joiner Proposed VM User", "client_ip": "Joiner Client IP"}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /sse/session/alias/{alias}/guest:
    post:
      summary: Request to join a session as a guest
      description: Request to join a session as a guest and subscribe to response events
      parameters:
        - name: alias
          in: path
          required: true
          schema:
            type: string
          description: Session alias
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pub_key:
                  type: string
                  description: Public key to add to the session
                user:
                  type: string
                  description: VM user to create
              required:
                - pub_key
                - user
      responses:
        "200":
          description: Successfully requested to join session and subscribed to events
          content:
            text/event-stream:
              schema:
                type: string
                description: Server-Sent Events stream
              examples:
                join_approved:
                  summary: Join request approved
                  value: |
                    event: join_request_outcome
                    data: {"status": "approved"}
                join_denied:
                  summary: Join request denied
                  value: |
                    event: join_request_outcome
                    data: {"status": "denied", "reason": "owner_denied_join"}
                user_already_in_session:
                  summary: User already in session
                  value: |
                    event: join_request_outcome
                    data: {"status": "denied", "reason": "user_already_in_session"}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /user/guest_sessions:
    get:
      summary: List all sessions the current user has joined as a guest
      description: List all sessions the current user has joined as a guest
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: Maximum results to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Results offset for pagination
      responses:
        "200":
          description: Successfully retrieved guest sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GuestSessionDesc"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /search/machines:
    get:
      summary: Search for available machine types
      description: Search for available machine types with optional filters
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Optional machine name filter
        - name: region
          in: query
          required: false
          schema:
            type: string
          description: Optional region filter
        - name: cloud_provider
          in: query
          required: false
          schema:
            type: string
          description: Optional cloud provider filter
        - name: vcpus
          in: query
          required: false
          schema:
            type: integer
          description: Optional CPU count filter
        - name: memory_mib
          in: query
          required: false
          schema:
            type: integer
          description: Optional memory size filter (in MiB)
        - name: gpu_count
          in: query
          required: false
          schema:
            type: integer
          description: Optional GPU count filter
        - name: gpu_model
          in: query
          required: false
          schema:
            type: string
          description: Optional GPU model filter
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: Maximum results to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Results offset for pagination
      responses:
        "200":
          description: Successfully retrieved machine search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/Machine"
                required:
                  - results
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /search/images:
    get:
      summary: Search for available images
      description: Search for available images with optional filters
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Optional image name filter
        - name: cloud_provider
          in: query
          required: false
          schema:
            type: string
          description: Optional cloud provider filter
        - name: os
          in: query
          required: false
          schema:
            type: string
          description: Optional operating system filter
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: Maximum results to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Results offset for pagination
      responses:
        "200":
          description: Successfully retrieved image search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/Image"
                required:
                  - results
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /search/machines/featured:
    get:
      summary: Get featured machine types
      description: Get a list of featured machine types
      responses:
        "200":
          description: Successfully retrieved featured machines
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Machine"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /search/images/featured:
    get:
      summary: Get featured images
      description: Get a list of featured images
      responses:
        "200":
          description: Successfully retrieved featured images
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Image"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /token endpoint
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication

  schemas:
    Session:
      type: object
      properties:
        session_id:
          type: string
          description: Unique identifier for the session
        alias:
          type: string
          description: Alias for the session
        region:
          type: string
          description: Container hosting region
        no_join:
          type: boolean
          description: Whether other terminals can join
        machine_id:
          type: string
          description: Machine configuration ID
        started_at:
          type: string
          format: date-time
          description: Timestamp of session creation
      required:
        - session_id
        - alias
        - region
        - machine_id
        - started_at
    SessionDesc:
      type: object
      properties:
        session_id:
          type: string
          description: Unique identifier for the session
        alias:
          type: string
          description: Alias for the session
        region:
          type: string
          description: Container hosting region
        no_join:
          type: boolean
          description: Whether other terminals can join
        machine_id:
          type: string
          description: Machine configuration ID
        image_id:
          type: string
          description: Image configuration ID
        image_name:
          type: string
          description: Name of the image
        started_at:
          type: string
          format: date-time
          description: Timestamp of session creation
        status:
          type: string
          description: Current status of the session
      required:
        - session_id
        - alias
        - region
        - machine_id
        - image_id
        - image_name
        - started_at
        - status

    GuestDesc:
      type: object
      properties:
        user_id:
          type: string
          description: User ID of the guest
        joined_at:
          type: string
          format: date-time
          description: Timestamp when the guest joined the session
      required:
        - user_id
        - joined_at

    GuestSessionDesc:
      type: object
      properties:
        joined_at:
          type: string
          format: date-time
          description: Timestamp when the user joined the session as a guest
        session:
          $ref: "#/components/schemas/SessionDesc"
      required:
        - joined_at
        - session

    JoinRequestEvent:
      type: object
      properties:
        alias:
          type: string
          description: Session alias
        subject_uuid:
          type: string
          description: Joiner SSE Subject UUID
        region:
          type: string
          description: Joiner region
        pub_key:
          type: string
          description: Joiner public key
        user:
          type: string
          description: Joiner proposed VM user
        client_ip:
          type: string
          description: Joiner client IP
      required:
        - alias
        - subject_uuid
        - region
        - pub_key
        - user
        - client_ip

    JoinOutcomeEvent:
      type: object
      properties:
        status:
          type: string
          enum: [approved, denied]
          description: Status of the join request
        reason:
          type: string
          enum: [user_already_in_session, owner_denied_join, undefined]
          description: Reason for denial (only present when status is denied)
      required:
        - status

    Machine:
      type: object
      properties:
        id:
          type: string
          description: Machine ID
        name:
          type: string
          description: Machine name
        description:
          type: string
          description: Machine description
        href:
          type: string
          description: Machine reference URL
        cloud:
          type: string
          description: Cloud provider
        not_in_regions:
          type: array
          items:
            type: string
          description: Regions where machine is not available
        vcpus:
          type: integer
          description: Number of virtual CPUs
        memory_mib:
          type: integer
          description: Memory size in MiB
        gpu_count:
          type: integer
          description: Number of GPUs
        gpu_model:
          type: string
          description: GPU model
      required:
        - id
        - name
        - description
        - href
        - cloud
        - vcpus
        - memory_mib

    Image:
      type: object
      properties:
        id:
          type: string
          description: Image ID
        name:
          type: string
          description: Image name
        description:
          type: string
          description: Image description
        os:
          type: string
          description: Operating system
        href:
          type: string
          description: Image reference URL
        cloud:
          type: string
          description: Cloud provider
      required:
        - id
        - name
        - description
        - os
        - href
        - cloud

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
      required:
        - error
